@font-face {
	font-family: "Seattle Avenue";
	font-style: normal;
	font-weight: 400;
	src: url("../assets/Fonts/Seattle Avenue.ttf");
}

@font-face {
	font-family: "Witless";
	font-style: normal;
	font-weight: 400;
	src: url("../assets/Fonts/witless_.ttf");
}